#Home Assistant .gitignore
.cloud/
.storage/
.vscode/
.google.token
appdaemon/
deps/
node-red/
tmp/
www/firmware/
.gmusic_authtoken
.HA_VERSION
acl.conf
fitbit.conf
harmony_harmony_hub.conf
harmony_living_room.conf
home-assistant.log
home-assistant_v2.db*
known_devices.yaml
secrets.yaml
zones.yaml
google_calendars.yaml
*.xml
*.sqlite
*.txt
*.swp
*.token
.uuid
tts/
__pycache__/
www/icons/