- alias: House Armed and Secure
  id: 8771b836-bb8b-4f13-b185-3ebb8df2e2d4
  trigger:
    - entity_id: alarm_control_panel.house
      from: arming
      platform: state
      to: 
        - armed_away
        - armed_vacation
    - platform: state
      entity_id: alarm_control_panel.house
      from: 
        - disarmed
        - armed_home
      to: 
        - armed_away
        - armed_vacation
      for: "00:01:00"
  condition:
    - condition: state
      entity_id: lock.front_door_lock
      state: locked
    - condition: state
      entity_id: lock.back_door_lock
      state: locked
    - condition: state
      entity_id: lock.garage_entry_lock
      state: locked
  action:
    - service: notify.mobile_app_shawn_n30
      data:
        message: The alarm is fully armed in away mode and all doors are secure.
        title: House Secure
        data:
          ttl: 0
          priority: high

- alias: Master Going To Bed
  id: 9fe67407-db1a-4f53-b556-6c1d798ddd98
  trigger:
    - platform: state
      entity_id: alarm_control_panel.house
      from: disarmed
      to: armed_night
    - platform: state
      entity_id: alarm_control_panel.house
      from: armed_home
      to: armed_night
  action:
    - service: switch.turn_on
      continue_on_error: true
      entity_id:
        - switch.master_bedroom_fan
        - switch.nuvo_zone_4_power
    - service: light.turn_off
      continue_on_error: true
      entity_id: light.master_bedroom_light
    - service: mqtt.publish
      continue_on_error: true
      data:
        topic: nuvo/command/set/zone/src
        payload: 4,2
    - service: mqtt.publish
      continue_on_error: true
      data:
        topic: nuvo/command/set/zone/vol
        payload: 4,40
    - service: switch.turn_off
      continue_on_error: true
      entity_id: switch.nuvo_zone_5_power

- alias: Power State Sonoff on HA Start-Up
  id: 90c58c80-a7e1-4e06-acfb-b91432fabf0b
  trigger:
    - event: start
      platform: homeassistant
  action:
    - delay:
        minutes: 1
    - service: mqtt.publish
      data:
        payload: ""
        topic: cmnd/fireplace/state
    - service: mqtt.publish
      data:
        payload: ""
        topic: christmas/indoor/decorations/cmnd/state

- alias: "Set Theme to Midnight"
  id: 891cd399-8598-4588-a680-0c3543d92fec
  trigger:
    - platform: homeassistant
      event: start
  action:
    - service: frontend.set_theme
      data:
        name: midnight

- alias: Update OpenUV every 30 minutes during the daytime
  id: d85f60c2-df57-40b5-8c3e-0a18bb5c1f44
  trigger:
    platform: time_pattern
    minutes: "/30"
  condition:
    condition: and
    conditions:
      - condition: sun
        after: sunrise
      - condition: sun
        before: sunset
  action:
    service: homeassistant.update_entity
    target:
      entity_id: sensor.current_uv_index
    
- alias: Picture Frames On When Home
  id: d69e8310-1321-4f19-ab9b-7035310c7617
  trigger:
    - platform: state
      entity_id: alarm_control_panel.house
      to: disarmed
    - platform: state
      entity_id: alarm_control_panel.house
      to: armed_home
  action:
    - service: switch.turn_on
      entity_id: 
        - switch.kitchen_picture_frame
        - switch.office_picture_frame

- alias: Picture Frames Off When Away or Asleep
  id: ee97937d-0f87-46bd-af5e-04985d8ab20f
  trigger:
    - platform: state
      entity_id: alarm_control_panel.house
      from: arming
      to: 
        - armed_away
        - armed_vacation
    - platform: state
      entity_id: alarm_control_panel.house
      from: 
        - disarmed
        - armed_home
      to: 
        - armed_away
        - armed_vacation
      for: "00:01:00"
    - platform: state
      entity_id: alarm_control_panel.house
      to: armed_night
  action:
    - service: switch.turn_off
      entity_id: 
        - switch.kitchen_picture_frame
        - switch.office_picture_frame
